.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
library/build
mQian
library_pulltorefesh/build
jpush


miqian.iml
*.iml
app/src/main/java/com/miqian/mq/activity/MainActivity.java.rej
