@charset "UTF-8";

/* 基础样式 */
body,html,a,img,div,form,select,input,ul,ol,ul,li,h1,h2,h3,h4,h5,h6,dd,dl,dt,p,label,em,span{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body{width:100%;height:100%;}
.row {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.theme-bg {
    background-color: #e8373d;
}
.theme-color {
    color: #e8373d !important;
}
.clearfix {
	zoom: 1;
}
.clearfix:after{content:".";visibility:hidden;clear:both;height:0;width:100%;display:block;}
.left {
	float: left;
}
.right {
	float: right;
}
.font-bold {
    font-weight: bold;
}
.align-center {
    text-align: center;
}
.prefix-rmb:before {
    content: '¥';
    font-size: 70%;
    display: inline-block;
    padding-right: 0.04rem;
}
.mart20 {
    margin-top: 0.2rem;
}
a{color:inherit;text-decoration:none;-webkit-touch-callout:none;-webkit-user-select:none;}
em,i{font-style:normal}
.img-wrap, img{border:none;}
.img-wrap img{width:100%;-webkit-touch-callout:none;-webkit-user-select:none;}
img[data-src]{height:0;}
ol,li{list-style:none;}
body{min-width:320px;max-width:640px;margin:0 auto;background:#f8f8f8;font-size:100%;font-family:"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;color:#333;}
input{ outline:medium;}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}
input[type=button]{
	-webkit-appearance:none;
	outline:none
}
input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
    margin: 0;  
} 

/* 了解更多理财干货 */
.know-more {
    background-color: #e8373d;
    padding-top: 0.3rem;
}
.know-more .code-img {
    width: 6.4rem;
    height: 8.08rem;
    margin: 0 auto;
}
.know-more .code-img img {
    display: block;
    width: 3.66rem;
    height: 3.66rem;
    margin: 0 auto;
    padding-top: 2.6rem;
}
.know-more .weibo {
    background: url(../img/weibo_bg.png) no-repeat center center;
    background-size: 100%;
}
.know-more .weixin {
    background: url(../img/weixin_bg.png) no-repeat center center;
    background-size: 100%;
}
.know-more p {
    font-size: 0.3rem;
    color: #fff;
    width: 6.4rem;
    margin: 0 auto;
    padding: 0.5rem 0;
}
.know-more .align-center {
    text-align: center;
}
/* 一秒了解秒钱 */
.know-mq {
    background-color: #a435e4;
}
.know-mq .banner {
    background: url(../img/sq_banner.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 5.36rem;
    margin: 0 auto;
}
.know-mq .about-mq {

}
.about-mq .title {
    background: url(../img/sq_miaoqian.png) no-repeat center center;
    width: 3.21rem;
    height: 0.85rem;
    background-size: 100%;
    margin: 0 auto;
}
.about-mq .desc {
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.56rem;
    width: 6rem;
    margin: 0 auto;
    padding: 0.4rem 0;
}
.about-mq .flow-img {
    background: url(../img/flow_img.png) no-repeat center center;
    width: 7.09rem;
    height: 3rem;
    background-size: 100%;
    margin: 0 auto;
}
.know-mq .mq-feature {
    background: url(../img/sq_feature.png) no-repeat top center;
    width: 6.78rem;
    height: 13.47rem;
    background-size: 100%;
    margin: 0.8rem auto 0;
}
.mq-feature ul {
    padding: 1.8rem 0 0;
    width: 5.6rem;
    margin: 0 auto;
}
.mq-feature li {
    padding-bottom: 0.4rem;
}
.mq-feature h5 {
    font-size: 0.32rem;
    color: #fff;
    padding-bottom: 0.2rem;
}
.mq-feature i {
    display: inline-block;
    background: url(../img/dot_num.png) no-repeat center center;
    background-size: 100%;
    width: 0.41rem;
    height: 0.52rem;
    text-align: center;
    margin-right: 0.2rem;
}
.mq-feature p {
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.42rem;
}
/* 秒钱优质资产 */
.mq-property {
    background-color: #5d4fb6;
}
.mq-property .title {
    background: url(../img/mq_500.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 4.49rem;
}
.mq-property .property-news {
    background: url(../img/mq_news.png) no-repeat center center;
    background-size: 100%;
    width: 6.4rem;
    height: 7.18rem;
    margin: 0 auto;
    position: relative;
}
.property-news p {
    font-size: 0.3rem;
    color: #6554b9;
    width: 5.4rem;
    margin: 0 auto;
    padding-top: 2rem;
}
.mq-property .product500 {
    background: url(../img/product_500.png) no-repeat center center;
    background-size: 100%;
    width: 6.4rem;
    height: 20.98rem;
    margin: 0 auto;
    padding: 0.6rem 0 0.8rem;
    position: relative;
}
.mq-property .clip {
    background: url(../img/clip.png) no-repeat center center;
    background-size: 100%;
    width: 1.38rem;
    height: 0.38rem;
    position: absolute;
}
.mq-property .clip01 {
    left: -0.69rem;
    top: 4.7rem;
}
.mq-property .clip02 {
    left: 1.1rem;
    top: 11.55rem;
}
.mq-property .clip03 {
    left: 5.79rem;
    top: 12.08rem;
}
.mq-property .clip04 {
    left: 0.1rem;
    top: 21.92rem;
}
.mq-property .clip05 {
    left: 6rem;
    top: 33.6rem;
}
/* 平台大事记 */
.mq-events {
    background: url(../img/events_bg.png) repeat-x;
}
.mq-events .banner {
    background: url(../img/events_banner.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 4.9rem;
}
.mq-events .events-tree {
    position: relative;
}
.mq-events .tree-line {
    background: url(../img/events_line.png) no-repeat center center;
    background-size: 100%;
    width: 0.93rem;
    height: 46.85rem;
    margin: 0 auto;
    position: absolute;
    top: 1.1rem;
    left: 50%;
    margin-left: -0.465rem;
}
.events-tree .tree-dot {
    width: 5.9rem;
    margin: 0 auto;
    padding-top: 0.4rem;
}
.tree-dot .dot-img {
    background: url(../img/events_icon.png) no-repeat center center;
    background-size: 4.4rem 13.2rem;
    width: 2.2rem;
    height: 2.2rem;
    float: left;
}
.dot-01 .dot-img {
    background-position: 0 0;
}
.dot-02 .dot-img {
    background-position: -2.2rem 0;
}
.dot-03 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-04 .dot-img {
    background-position: -2.2rem -2.2rem;
}
.dot-05 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-06 .dot-img {
    background-position: 0 -4.4rem;
}
.dot-07 .dot-img {
    background-position: -2.2rem -4.4rem;
}
.dot-08 .dot-img {
    background-position: -2.2rem -2.2rem;
}
.dot-09 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-10 .dot-img {
    background-position: 0 -6.6rem;
}
.dot-11 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-12 .dot-img {
    background-position: -2.2rem -6.6rem;
}
.dot-13 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-14 .dot-img {
    background-position: 0 -2.2rem;
}
.dot-15 .dot-img {
    background-position: 0 -8.8rem;
}
.dot-16 .dot-img {
    background-position: -2.2rem -8.8rem
}
.dot-17 .dot-img {
    background-position: 0 -11rem;
}
.dot-18 .dot-img {
    background-position: -2.2rem -11rem;
}
.events-tree .dot-01 {
    padding-top: 0;
}
.events-tree .dot-15, .events-tree .dot-16 {
    padding-top: 0.7rem;
}
.tree-dot .dot-text {
    font-size: 0.24rem;
    color: #fff;
    float: right;
    padding-top: 0.6rem;
    width: 2.55rem;
}
.text-left .dot-img {
    float: right;
}
.text-left .dot-text {
    float: left;
    text-align: left;
}
.tree-dot .time {
    padding-bottom: 0.2rem;
}
.text-left .time {
    text-align: right;
}
.mq-events .more-events {
    font-size: 0.28rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 1.4rem;
}
.mq-events .events-count {
    padding-top: 0.8rem;
}
.events-count p {
    background-color: #ffd200;
    border: 3px solid #ffa81f;
    height: 0.6rem;
    line-height: 0.6rem;
    width: 4.7rem;
    text-align: center;
    margin: 0 auto;
    font-size: 0.33rem;
    font-weight: bold;
    color: #ff6c00;
    border-radius: 1rem;
    margin-bottom: 0.13rem;
}
.events-count p span {
    color: #ff3108;
}
.mq-events .events-bottom {
    background: url(../img/events_bottom.png) no-repeat bottom center;
    background-size: 100%;
    width: 7.5rem;
    height: 4.59rem;
    padding-top: 0.65rem;
}
.mq-events .events-cloud1 {
    background: url(../img/events_cloud1.png) no-repeat center center;
    background-size: 100%;
    width: 6.29rem;
    height: 1.03rem;
    margin: 0 auto;
    position: absolute;
    top: 6.85rem;
    left: 0.2rem;
}
.mq-events .events-cloud2 {
    background: url(../img/events_cloud2.png) no-repeat center center;
    background-size: 100%;
    width: 6.57rem;
    height: 3.73rem;
    margin: 0 auto;
    position: absolute;
    top: 11.5rem;
    left: 0.3rem;
}
/* 红包使用说明 */
.packet-rules .banner {
    background: url(../img/packet_banner.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 6.53rem;
    margin: 0 auto;
}
.packet-rules .packet-con {
    background: #f5ebcb url(../img/packet_topbg.png) no-repeat top center; background-size: 100%;
}
.packet-con .packet-item {
    margin-bottom: 0.6rem;
}
.packet-item h4 {
    background: url(../img/packet_title.png) no-repeat center center;
    background-size: 100%;
    width: 6.82rem;
    height: 0.83rem;
    margin: 0 auto;
    font-size: 0.28rem;
    color: #4c3904;
    text-align: center;
    line-height: 1rem;
}
.packet-item .desc {
    font-size: 0.24rem;
    color: #505050;
    width: 5.7rem;
    margin: 0 auto;
    padding: 0.4rem 0 0.8rem;
}
.packet-item .foottip {
    font-size: 0.28rem;
    text-align: center;
    color: #967f40;
    margin: 0 auto;
    padding: 0.4rem 0 0;
}
.packet-item .select-packet {
    background: url(../img/select_packet.png) no-repeat center center;
    background-size: 100%;
    width: 5.98rem;
    height: 10.62rem;
    margin: 0 auto;
    padding:0.4rem 0 0.8rem;
}
.packet-item .sum {
    font-size: 0.36rem;
    color: #505050;
    text-align: center;
    padding-top: 0.2rem;
}
.packet-item .packet-addr {
    background: url(../img/packet_addr.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 8.9rem;
    margin: 0.8rem auto 0.2rem;
}
.packet-item .tips {
    font-size: 0.24rem;
    color: #505050;
    width: 5.7rem;
    margin: 0 auto;
    padding: 0.2rem 0 0.8rem;
}
.packet-con .bottom-tips {
    font-size: 0.28rem;
    color: #999;
    text-align: center;
}
.packet-rules .packet-bottom {
    background: url(../img/packet_bottom.png) no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 0.57rem;
    margin: 0 auto;
}
.packet-down{ position: fixed; left: 0; right: 0; bottom: 0; height:1.6rem; max-width: 750px; margin: 0 auto;}
.packet-down img {width: 100%;}
.rule {padding: 0.3rem 0.8rem}
.rule>div{padding: 0.2rem 0}
.rule i { float: left; width: 0.54rem; text-align: center; color: #323232; font-size: 0.28rem;}
.rule p { padding-left: 0.54rem; font-size: 0.28rem; line-height: 0.36rem}
/* 秒钱理财携手腾讯qq派送红包 */
.mq-packet {
    background-color: #df3b43;
    padding-bottom: 1rem;
}
.mq-packet .banner {
    background: url(../img/qq_banner.png) no-repeat top center;
    background-size: 100%;
    width: 7.5rem;
    height: 7.62rem;
    margin: 0 auto;
}
.mq-packet .desc {
    font-size: 0.3rem;
    color: #fff;
    width: 6rem;
    margin: 0 auto;
}
.mq-packet .desc-first {
    margin-top: -1.5rem;
}
.mq-packet .desc-top {
    padding-top: 0.3rem;
}
.mq-packet .join-way {
    background: url(../img/join_way.png) no-repeat center center;
    background-size: 100%;
    width: 7.22rem;
    height: 5.48rem;
    margin: 0.4rem auto 0;
}
.join-way ul {
    padding: 2rem 0.5rem 0 0.6rem;
}
.join-way li {
    font-size: 0.3rem;
    line-height: 0.36rem;
    color: #fff;
    padding: 0 0 0.3rem 0.6rem;
    position: relative;
}
.join-way li i {
    display: block;
    width: 0.42rem;
    height: 0.45rem;
    background: url(../img/join_way_num.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.join-way li .icon1 {
    background-position: 0 0;
}
.join-way li .icon2 {
    background-position: 0 -0.45rem;
}
.join-way li .icon3 {
    background-position: 0 -0.9rem;
}
.join-way li .icon4 {
    background-position: 0 -1.35rem;
}
.join-way li .icon5 {
    background-position: 0 -1.8rem;
}
.mq-packet .mq-qq-desc {
    background: url(../img/mq_desc.png) no-repeat center center;
    background-size: 100%;
    width: 7.06rem;
    height: 4.35rem;
    margin: 0.4rem auto 0;
}
.mq-qq-desc p {
    font-size: 0.3rem;
    color: #fff;
    width: 6rem;
    margin: 0 auto;
    padding-top: 2rem;
}
.mq-packet .mq-btn {
    display: block;
    background: url(../img/qq_btn.png) no-repeat center center;
    background-size: 100%;
    width: 3.14rem;
    height: 0.94rem;
    font-size: 0.3rem;
    color: #eb3632;
    text-align: center;
    line-height: 0.84rem;
    position: absolute;
    bottom: -0.48rem;
    left: 50%;
    margin-left: -1.62rem;
}
.mq-packet .block-btn {
    position: relative;
}
.mq-packet .mq-packet-rules {
    background: url(../img/mq_packet_rules.png) no-repeat top center;
    background-size: 100%;
    width: 7.02rem;
    height: 9.92rem;
    margin: 1rem auto 0;
}
.mq-packet-rules p {
    color: #fff;
    font-size: 0.3rem;
    width: 5.9rem;
    margin: 0 auto;
}
.mq-packet-rules .font-bold {
    font-weight: bold;
    padding-top: 7.9rem;
}
.mq-packet .qq-product {
    background: url(../img/qq_product.png) no-repeat center center;
    background-size: 100%;
    width: 7.05rem;
    height: 8.42rem;
    margin: 1rem auto 0;
}


